<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#fff"
  type="line-scale-party"
>
  <p style="font-size: 10%; color: white">Cargando...</p>
</ngx-spinner>

<div class="containerFull">
  <div class="containerMitad">
    <textarea id="codeBloc" class="codeBlocText" rows="30" placeholder="Escriba su código." autofocus  #codeBloc></textarea>

  </div>
  <div class="containerMitad">
    <img src="https://www.researchgate.net/profile/Peter-Fritzson/publication/228792639/figure/fig1/AS:393782852898820@1470896556105/Abstract-syntax-tree-of-the-while-loop.png" alt="Prueba">
  </div>
</div>
<div class="terminal">

</div>
<button type="button" class="botonFlotante" (click)="runCode()">
  <i class="material-icons" style="font-size: 500%">check</i>
</button>
